:root{
    --tob-button-blue: #0061ff;
    --tob-bg-light-blue:#b4d0e7;
}

/* #region-general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

/* img{
    max-width: 100%;
} */

.container-large{
    width: 60%;
    margin: auto;
}

.container-total{
    width: 100%;
}

.container-small{
    width: 50%;
    margin: auto;
}

.row{
    display: flex;
}

.flex-align-items{
    display: flex;
    align-items: center;
}

.justify-content-end{
    display: flex;
    justify-content: end;
}

.text-align{
    text-align: center;
}

.col-1{
    width: calc(100% / 12);
}
.col-2{
    width: calc((100% / 12) * 2);
}
.col-3{
    width: calc((100% / 12) * 3);
}
.col-4{
    width: calc((100% / 12) * 4);
}
.col-5{
    width: calc((100% / 12) * 5);
}
.col-6{
    width: 50%;
}
.col-7{
    width: calc((100% / 12) * 7);
}
.col-8{
    width: calc((100% / 12) * 7);
}
.col-9{
    width: calc((100% / 12) * 7);
}
.col-10{
    width: calc((100% / 12) * 7);
}
.col-11{
    width: calc((100% / 12) * 7);
}
.col-12{
    width: 100%;
}

.blue-button-small{
    background-color: var(--tob-button-blue);
    padding: 0.3rem 0.6rem;
}

.blue-button-big{
    background-color: var(--tob-button-blue);
    padding: 0.5rem 1rem;
}

.pad-bottom-2{
    padding-bottom: 2rem;
}

.text-white{
    color: white;
}
/* #endregion-general */

/* #region-debug */
/* .debug * {
    border: 1px dashed;
}

[class|="row"] {
    background-color: yellow;
    min-height: 200px;
}

[class|="col"] {
    background-color: rgb(255, 0, 0);
    min-height: 100px;
    margin: 1rem;
} */
/* #endregion-debug */

/* #region-header*/
header{
    margin: 1rem 0rem;
    background-color: white;
}

header a {
    color: black;
}

.header-nav{
    padding: 1rem;
}
/* #endregion-header*/

/* #region-main-jumbo */
main h1{
    font-size: 4rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.arrow-size{
    font-size: 3rem;
}

.jumbo{
    background-color: var(--tob-bg-light-blue);
}

.p-rel{
    position: relative;
}

.p-abs{
    position: absolute;
    left: 0;
    top: 0;
}
/* #endregion-main-jumbo */

/* #region-main-business */

a.underline{
    text-decoration: underline;
    color: blue;
}

.business-box{
    border: 2px solid grey;
/*     padding: 0.5rem 2rem; */
    font-size: 0.7rem;
}

/* #endregion-main-business */